<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Exclude specific directories aggressively (Moved to top)
  RewriteRule ^(marketing|pr) - [L]

  RewriteRule ^index\.html$ - [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
